<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54301561490-5bbur5bkmg5npojgh3mjsj3q41a3qhd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54301561490-5bbur5bkmg5npojgh3mjsj3q41a3qhd1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>54301561490-u02u26g9c4c9nelb5jlffl6drfromujv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoZaotjjIH2CiIMKu-OLU45mpRrJU4IB8</string>
	<key>GCM_SENDER_ID</key>
	<string>54301561490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parsadev.parsaVault2</string>
	<key>PROJECT_ID</key>
	<string>parsavault</string>
	<key>STORAGE_BUCKET</key>
	<string>parsavault.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54301561490:ios:054e7444442319409a8c4b</string>
</dict>
</plist>